@font-face {
    font-family: 'OpenSans';
    font-display: swap;
    src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline: #c7c7c7 dotted 2px;
  outline-offset: .06em;
}

button {
    all: unset;
}

ul {
    list-style: none;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    overflow-x: hidden;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* ------------- Header ------------- */
.header {
    padding: 40px 0px 40px 0px;
    background-color: black;
    
}

.header-title {
    font-size: 14px;
    color: white;
    margin-left: 24px;
}

/* ------- Main ------- */

.main {
    padding: 0px 35px 0px 35px;
    position: relative;
}

/* ------- Search panel ------ */

.search-panel {
    display: flex;
    justify-content: space-between;
    padding: 32px 0px 15px 0px;
}

.search-wrapper {
    width: 100%;
    max-width: 1082px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-row {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #c7c7c7;
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    padding-left: 16px;
}

.search-icon {
    display: flex;
    justify-content: flex-end;
    width: 17px;
    height: 17px;
    background: url(../img/search-icon.svg) no-repeat center center / cover;
}

.search-icon::before {
    content: '';
    height: 16px;
    border-right: 1px solid #c7c7c7;
    margin-right: -12px;
}

.search-input {
    width: 100%;
    margin-left: 12px;
    padding: 11px 0px 11px 12px;
    border: none;
}

.search-button {
    background-color: #f1bd45;
    color: #000;
    padding: 11px 52px 11px 52px;
    border: 1px solid #f1bd45;
    border-radius: 0 3px 3px 0;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.search-close-btn {
    background-color: #ffff;
    color: #000;
    padding: 11px 28px 11px 28px;
    border: 1px solid #dedede;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

/*  -------------------- Status panel --------------- */

.status-panel {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 925px;
    padding: 15px 0px 15px 0px;
}

.status-title {
    font-size: 28px;
}

.status-info {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    color: #8b8b8b;
}

/*  -------------------- Category panel --------------- */

.category-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scrollbar-color: #b8b8b8 #f3faf7;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;
    padding: 15px 0px 15px 0px;
}
/* полоса прокрутки (скроллбар) */
.category-panel::-webkit-scrollbar {
    transform: rotateY(-10);
    height: 6px; /* высота для горизонтального скролла */
    background-color: #ebebeb;
}
/* ползунок скроллбара */
.category-panel::-webkit-scrollbar-thumb {
    background-color: #7c7c7c;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
    cursor: pointer;
}

.category-panel::-webkit-scrollbar-thumb:hover {
    background-color: #5a5a5a;
    cursor: pointer;
}

.category-card {
    min-width: 232px;
    display: flex;
    padding-left: 16px;
    margin-right: 16px;
    border-left: 1px solid #b9b9b9;
    scroll-snap-align: start;
}

.category-card:first-child {
    justify-content: start;
    padding-left: 0px;
    margin-right: 0px;
    border-left: none;
}

.category-card:last-child {
    margin-right: 0px;
}

.category-image {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 3px;
    background-color: #8b8b8b;
}

.category-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
}

.category-title {
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.category-desc {
    font-family: 'OpenSans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #8b8b8b;
}

.category-hide-box {
    position: absolute;
    width: 143px;
    height: 60px;
    right: 0;
    background: linear-gradient(269.76deg, #ffffff 62.83%, rgba(255, 255, 255, 0) 145.7%);
    cursor: pointer;
}

/* ------------- Catalog section ---------- */

